# Data related files
data/*
*.json
*.old
*.log

# Spammer module related files
drivers/
selenium/*

# Python bytecode
__pycache__/*
*/__pycache__/*

# Raven related files
certs/*
topology_files

# User-specific files
*.ps1
venv/*
.env
manual_upload.py